.head {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
header {
  padding: 0;
}
.container {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 70px;
}
nav ul {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.hero {
  min-height: 200px;
  padding-top: 2rem;
  background-color: aquamarine;
}

.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;

  margin: 20px;
}
.h1 {
  font-size: xx-large;
  text-shadow: 1rem;
}

h3 {
  margin-left: 8px;
}

.site-header {
  alignment-baseline: central;
}
.nav-container {
  overflow: visible;
  font-size: medium;
  text-align: right;
}

.p {
  font-size: small;
  margin-left: 8px;
  font-family: monospace;
}

.three-column {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-style: solid;
}

.column {
  border-style: solid;
  font;
  padding: 0px;

  border-color: black;
}

.row {
  margin: 0;
  line-height: normal;
  padding: 0;
  border-bottom-style: solid;
}
.row li {
  list-style: none;
  margin-left: ;
}

.li-project {
  border-bottom: solid;
}

article a {
  text-decoration: none;
}
