/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.icon {
  width: 100px;
  height: 100px;
}

/* FLEX */
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner */
.banner {
  width: 500px;
  max-width: fit-content;
  border-radius: 8px;
  margin: 2rem;
  background-color: yellow;
  border-color: black;
}

.banner p {
  margin: 2rem;
  margin-top: 1rem;
  text-align: justify;
}

.banner h2 {
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  gap: 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* UTILITY SPACING */
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

nav .nav-links {
  display: flex;
  gap: 2rem;
}

/* BUTTON */

.button {
  align-items: center;
  align-content: center;
  display: flex;
  gap: 8px;
  alignment-baseline: middle;
  border: 2px solid;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  border-color: #333;
  transition: 0.2s;
  font-weight: 500;
}

.btn:hover {
  background-color: #fff;
  border-color: #333;
}

.btn-primary {
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  border-color: #333;
  transition: 0.2s;
  font-weight: 500;
}

.btn-primary:hover {
  background: black;
  color: #fff;
}

/* CARD */
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
  nav .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
}
