/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: larger;
  padding: 40px;
  background: #f4f4f4;
}

/* ===== GRID WRAPPER ===== */
.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: auto;
}

/* ===== CARD 1 ===== */
.testimoni1 {
  grid-column: 1 / span 4;
  background: #ffffff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.card1 {
  background: #000;
  color: white;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 16px;
  line-height: 1.4;
}

.profile1,
.profile2 {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 14px;
}

.foto {
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.nama {
  font-size: 1.1rem;
  font-weight: 700;
}

.position {
  font-size: 0.8rem;

  opacity: 0.7;
}

/* ===== CARD 2 ===== */
.testimoni2 {
  grid-column: 5 / span 3;
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  line-height: 1.4;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* ===== IMAGE CARD ===== */
.div3 {
  grid-column: 1 / span 3;
}

.person1 {
  width: 100%;
  border-radius: 20px;
  height: auto;
  display: block;
}

/* ===== TEXT CARD NEXT TO IMAGE ===== */
.div4 {
  grid-column: 4 / span 4;
  background: black;
  color: #ffffff;
  padding: 24px;
  border-radius: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* ===== FULL WIDTH LAST CARD ===== */
.div5 {
  grid-column: 1 / span 7;
  background: white;
  padding: 24px;
  border-radius: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.div5 p {
  margin: 3rem;
  margin-bottom: 1rem;
}

.foto-banyak {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.foto-banyak img {
  width: 50px;
  margin-top: 2rem;
  height: 50px;
  border-radius: 50%;
  object-fit: fill;
  transition: 0.3s ease;
}

.foto-banyak img.left,
.foto-banyak img.right {
  opacity: 50%;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .parent {
    grid-template-columns: 1fr;
  }

  .testimoni1,
  .testimoni2,
  .div3,
  .div4,
  .div5 {
    grid-column: 1 / -1;
  }
}
.rating {
  font-size: 24px;
  color: gold;
}
