body {
  font-family: sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.profile1 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  width: max-content;
}

.nama {
  font-weight: bold;
  font-size: larger;
}

.foto {
  border-radius: 50%;
  width: 100px;
}

.position {
  font-size: small;
  line-height: auto;
}

.name1 {
  display: flex;
  position: absolute;
  line-height: 0%;
  margin-left: 1rem;
}

.card1 {
  margin: 0px;
  padding: 24px;
  height: fit-content;
  text-align: justify;
  border-style: solid;
  grid-area: 1 / 1 / 3 / 5;
  background: #000;
  color: white;
  border-radius: 24px;
}
.testimoni2 {
  border: 1px solid;
  grid-area: 1 / 5 / 3 / 8;
}
.div3 {
  grid-area: 3 / 1 / 5 / 4;
}
.div4 {
  grid-area: 3 / 4 / 5 / 8;
}
.div5 {
  grid-area: 5 / 1 / 7 / 8;
}
