html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}

textarea {
  padding: 10px;
  border: 2px solid;
  border-radius: 8px;
  resize: none;
  transition: border-color 0.3s ease;
}

textarea.limit-reached {
  border-color: red;
  outline-color: red;
}

#charCount {
  margin-top: 5px;
  padding-left: 2rem;
  position: absolute;
}

#charCount.limit-reached {
  color: red;
}

/* FLEX */
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GRID */
.grid {
  display: grid;
  gap: 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* UTILITY SPACING */
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

nav .nav-links {
  display: flex;
  gap: 2rem;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
  background-color: black;
  color: #fff;
  transition: 0.2s;
  font-weight: 500;
}

.btn:hover {
  color: black;
  border-color: black;
}

.btn-primary {
  background: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background: #0069d9;
}

/* CARD */
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
  nav .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
}
